<% language_tabs = current_page.data.language_tabs %>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title><%= current_page.data.title %></title>

    <meta name="author" content="Littlstar Dev Team">
    <meta name="description" content="Official Littlstar API Documentation">

    <link href="/images/favicon-32.png" rel="icon">
    <!--[if IE ]>
      <link href="/images/favicon.ico" rel="icon">
    <![endif]-->

    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%= javascript_include_tag  "all" %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '<%= current_page.data.ga_tracking_id %>', 'auto');
      ga('send', 'pageview');
    </script>

    <% if language_tabs %>
      <script>
        $(function() { setupLanguages(<%= language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>); });
      </script>
    <% end %>
  </head>

  <body class="<%= page_classes %>">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <div class="tocify-wrapper">
      <a href="http://developer.littlstar.com"><%= image_tag "logo.png" %></a>
      <% if language_tabs %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="search">
        <input type="text" class="search" id="input-search" placeholder="Search">
      </div>
      <ul class="search-results"></ul>
      <div id="toc">
      </div>
      <ul class="toc-footer">
        <li><a href='https://github.com/littlstar'>Github</a></li>
        <li><a href='https://twitter.com/littlstardev'>Twitter</a></li>
        <li><a href='mailto:support@littlstar.com'>Contact Us</a></li>
        <li><a href='http://github.com/tripit/slate'>Powered by Slate</a></li>
        <li><a href='http://twinkle.littlstar.com'>&copy; 2014 Little Star Media, Inc.</a></li>
      </ul>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= yield %>
      </div>
      <div class="dark-box">
        <% if language_tabs %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
