---
title: API Documentation | Littldev

# Language tabs appear at the top of the right hand column.
# Selecting a language tab interactively switches code examples to that language
language_tabs:
  - shell: cURL
  #- ruby: Ruby
  #- python: Python
  #- php: PHP

toc_footers:
  - <a href='https://littlstar.com/register'>Join Littlstar to generate an API Key</a>
  - <a href='http://github.com/tripit/slate'>Documentation Powered by Slate</a>
  - <p>&copy; 2014 Little Star Media, Inc.<p>

api_url: https://littlstar.com/api/v1
---

<!-- render introduction section -->
<%= partial 'sections/introduction' %>

<!-- render authentication section -->
<%= partial 'sections/authentication' %>

<!-- render login section -->
<%= partial 'sections/login' %>

<!-- render users section -->
<%= partial 'sections/users' %>

<!-- render videos section -->
<%= partial 'sections/videos' %>

<!-- render categories section -->
<%= partial 'sections/categories' %>